body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#141e30,#243b55);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-box{
    background:#1f1f1f;
    padding:40px;
    width:350px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,0,0,0.6);
    text-align:center;
}

.register-box h2{
    margin-bottom:20px;
}

.register-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:6px;
    outline:none;
}

.register-box button{
    width:100%;
    padding:12px;
    margin-top:15px;
    background:#ff4b2b;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

.register-box button:hover{
    background:#ff1f00;
}

#message{
    margin-top:15px;
    font-size:14px;
}

.login-link{
    display:block;
    margin-top:15px;
    color:#ccc;
    text-decoration:none;
    font-size:14px;
}

.login-link:hover{
    color:white;
}
